@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

:root {
  background: hsl(0, 0%, 75%);
  min-width: 600px;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 100%;
}

@layer base {
  h1 {
    @apply text-h1;
  }
  h2 {
    @apply text-h2;
  }
  h3 {
    @apply text-h3;
  }
  h4 {
    @apply text-h4;
  }
  h5 {
    @apply text-h5;
  }
  h6 {
    @apply text-h6;
  }
  p {
    @apply text-paragraph;
  }
  small {
    @apply text-small;
  }
  a {
    @apply text-white underline;
  }
}
